h2 {
  font-size: 2rem;
  text-align: center;
  color: #0050a5;
}

form {
  border: 5px dashed #0050a5;
  margin-bottom: 2.5rem;
  padding: 15px;
  color: #ffffff;
}

input {
  background-color: #15202B;
  color: #ffffff;
  font-size: medium;
  padding: 5px;
}

.user-input-wrp {
  position: relative;
  width: 50%;
}

.user-input-wrp .inputText {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #777777;
  box-shadow: none !important;
}

.user-input-wrp .inputText:focus {
  border-color: #0050a5;
  border-width: medium medium 2px;
}

.user-input-wrp .floating-label {
  position: absolute;
  pointer-events: none;
  top: 18px;
  left: 10px;
  transition: 0.2s ease all;
}

.user-input-wrp input:focus~.floating-label,
.user-input-wrp input:not(:focus):valid~.floating-label {
  top: 0px;
  left: 10px;
  font-size: 13px;
  opacity: 1;
}

input[type="time"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}

div {
  padding: 10px;
}

input[type="submit"] {
  background-color: #0050a5;
  color: #ffffff;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s;
}

input[type="submit"]:hover {
  background-color: #58a9ff75;
  font-size: smaller;
  font-weight: bolder;
  color: #000000;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}