main {
    text-align: center;
    margin: 30px;
}

h2 {
    font-size: 2rem;
    color: #0050a5;
}

form {
    border: 5px dashed #0050a5;
    padding: 15px;
    color: #ffffff;
    margin-bottom: 5rem;
}

input {
    background-color: #15202B;
    color: #ffffff;
    border-style:none none solid none;
    font-size: medium;
    padding: 5px;
    width: 10rem;
    margin: 5px;
}
input[type="submit"] {
    background-color: #0050a5;
    color: #ffffff;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s;
  }
  
  input[type="submit"]:hover {
    background-color: #58a9ff75;
    font-size: smaller;
    font-weight: bolder;
    color: #000000;
  }
label {
    color: #ffffff;
    font-size: 18px;
    position: relative;
    margin-top: 10px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}