main {
    text-align: center;
    margin: 30px;
}

h2 {
    font-size: 2rem;
    color: #0050a5;
}

form {
    border: 5px dashed #0050a5;
    padding: 15px;
    color: #ffffff;
    margin-bottom: 2.5rem;
}

input {
    background-color: #15202B;
    color: #ffffff;
    font-size: medium;
    padding: 5px;
}

.user-input-wrp {
    position: relative;
    width: 50%;
    margin: 0 auto;
}

.user-input-wrp .inputText {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #777777;
    box-shadow: none !important;
}

.user-input-wrp .inputText:focus {
    border-color: #0050a5;
    border-width: medium medium 2px;
}

.user-input-wrp .floating-label {
    position: absolute;
    pointer-events: none;
    top: 18px;
    left: 10px;
    transition: 0.2s ease all;
}

.user-input-wrp input:focus~.floating-label,
.user-input-wrp input:not(:focus):valid~.floating-label {
    top: 0px;
    left: 10px;
    font-size: 13px;
    opacity: 1;
}

input[type="submit"] {
    background-color: #0050a5;
    color: #ffffff;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #58a9ff75;
    font-size: smaller;
    font-weight: bolder;
    color: #000000;
}

label {
    color: #ffffff;
    font-size: 18px;
    display: block;
    margin-top: 10px;
}