main {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

div {
  padding: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 250px;
  margin: 10px;
  padding: 10px;
  background-color: #ced4da;
  border-radius: 0.4em;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition: background-color 0.3s, transform 0.2s;
}

.card:nth-child(2n) {
  background-color: #adb5bd;
}

.card:hover {
  background-color: #161640;
  color: #ffffff;
  transform: scale(1.05);
}