#showcase {
  background-image: url('bg4.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

#showcase h1 {
color: black;
text-shadow: 2px 2px #fff;
-webkit-text-stroke: 1px white;
font-weight: 900;
font-size: 40px;
line-height: 2;
}

#showcase p {
  font-size: 27px;
  line-height: 2;
}

.btn {
margin-bottom: 5px;
border: none;
outline: none;
height: 50px;
width: 300px;
background-color: rgba(0, 0, 0, 0.6);
color: white;
font-weight: 500;
font-size: 25px;
border-radius: 10px;
transition: all 0.2s;
}

.btn:hover {
cursor: pointer;
color: black;
background-color: rgba(0, 75, 150, 0.6);
}

#content {
position:relative;
}

.ribbon {
position:absolute;
top:0;
left:0;
}